@import "variables";
@import "mixin";


html{
    box-sizing: border-box;
    font-size: 100%;
    width: 300vw;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

main{

}
//helperClass to hide/show element

.hideForMobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hideForDesktop{
    @include breakpoint-up(large){
        display: none;
    }
}
